<section class="w3l-aboutblock1" id="about">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="row">
                <div class="col-lg-8 left-wthree-img pr-lg-5">
                    <h5 class="title-subw3hny mb-1">Hakkımızda</h5>
                    <h3 class="title-w3l">
                        Kendinizi keşfetmek, sınırlarınızı aşmak ve daha iyi bir geleceğe doğru ilerlemek için bugün kayıt olun! Kişisel gelişim kurslarımız size yeni perspektifler sunacak, kendinizi geliştirmenizde size rehberlik edecek ve potansiyelinizi en üst düzeye çıkarmada size yardımcı olacaktır.
                    </h3>
                </div>
                <div class="col-lg-4 mt-lg-0 mt-5 about-right-faq align-self">

                    <p class="">
                        Kişisel gelişim kursları, size özel bir eğitim deneyimi sunarak kendinizi daha iyi bir versiyon haline getirmenizi sağlar. Bu kurslar, iletişim becerileri, stres yönetimi, zaman yönetimi, liderlik ve özgüven gibi alanlarda size rehberlik eder. Deneyimli eğitmenlerimizle interaktif oturumlar, grup çalışmaları ve pratik uygulamalarla kurslarımızı heyecan verici hale getiriyoruz. Başlangıç düzeyinden ileri seviyeye herkes için uygun olan kurslarımız, esnek program seçenekleri sunar. Kaydolun ve kişisel gelişiminizi hızlandırın!
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>
