@model Edukator.EntityLayer.Concrete.Contact
<div class="w3l-contact-10 py-5" id="contact">
    <div class="form-41-mian pt-lg-4 pt-md-3 pb-lg-4">
        <div class="container">
            <div class="form-inner-cont mt-5">
                <form action="/Contact/SendMessage/" method="post" class="signin-form">
                    <div class="form-grids">
                        <div class="form-input">
                            <input type="text" asp-for="NameSurname" placeholder="Adınız Soyadınız *"
                                   required="" />
                        </div>
                        <div class="form-input">
                            <input type="text" asp-for="Subject" placeholder="Konu "
                                   required />
                        </div>
                        <div class="form-input">
                            <input type="email" asp-for="Mail" placeholder="Mail Adresiniz *"
                                   required />
                        </div>
                        <div class="form-input">
                            <input type="text" asp-for="Phone" placeholder="Telefon Numaranız *"
                                   required />
                        </div>
                    </div>
                    <div class="form-input">
                        <textarea asp-for="Message" placeholder="Mesajınızı yazın"
                                  required=""></textarea>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-style btn-primary" type="submit">Gönder</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- //contacts-5-grid -->
</div>